Source: xcrysden-wrapper
Section: scientific
Priority: extra
Maintainer: Synge Todo <wistaria@phys.s.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://cmsi.github.io/MateriAppsLive

Package: xcrysden-wrapper
Architecture: all
Depends: xcrysden
Description: Wrapper for xcrysden for avoiding 3D acceleration problem
